<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 ,maximum-scale=1, user-scalable=no">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="<?php echo base_url('style/index')?>/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="<?php echo base_url('style/index')?>/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="<?php echo base_url('style/index')?>/css/looknews.css">
    <script type="text/javascript" src="<?php echo base_url('style/index')?>/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="<?php echo base_url('style/index')?>/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="<?php echo base_url('style/index')?>/js/bootstrap.js"></script>
    <title>文章浏览</title>
</head>

<body>
    <div class="blank">
    <div class="all">
        <div class="top_app col-md-12 col-sm-12 col-xs-12">
            <div class="container container_fluid">
                <div class="row">
                    <a href="#" id="logonet" class="col-md-10 col-sm-9 col-xs-8 disabled">网络信息发布工具</br>rrnote.com</a>
                    <a href="#" id="open_app" class="col-md-2 col-sm-3 sol-xs-4 fr disabled">打开APP</a>
                </div>
            </div>
        </div>
    </div>
    <div class="look_content">
        <div class="container container_fluid">
            <div class="row">
                <div class="content_content col-md-12 col-sm-12 col-xs-12">
                    <h2>关于iPhone 8</h2>
                    <div class="media title_content">
                        <div class="media-left media-middle">
                            <a href="#"><img class="media-object img-circle" src="img/20130821113345_UkUAs.thumb.600_0.jpeg" alt="..."></a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading"><a href="#">作者:潇潇2号</a>&nbsp<span>2017-01-10</span>&nbsp<span>阅读量</span>&nbsp<span>0</span></h5>
                        </div>
                    </div>
                    <div class="tie_adrs">
                        <h4>时间:<span>2017-07-05</span>至<span>2017-10-09</span></br>
                    	地点:<span>北京市朝阳区酒仙桥路789艺术区54号</span></h4>
                    </div>
                    <div class="look-content">
                        一、iPhone 8有很多报道说，下一代iPhone将迎来重大升级，因为2017年是iPhone的十周年生日，苹果公司肯定不会轻视这么重要的时刻。据说iPhone 8会有全玻璃的设计，有机LED显示屏，更高的像素，舍去了Home键，也有新的尺寸等。还有传言说苹果将为iPhone内置AR增强现实的功能，不过很可能在iPhone 8的下一代才出现。 一、iPhone 8有很多报道说，下一代iPhone将迎来重大升级，因为2017年是iPhone的十周年生日，苹果公司肯定不会轻视这么重要的时刻。据说iPhone 8会有全玻璃的设计，有机LED显示屏，更高的像素，舍去了Home键，也有新的尺寸等。还有传言说苹果将为iPhone内置AR增强现实的功能，不过很可能在iPhone 8的下一代才出现。 一、iPhone 8有很多报道说，下一代iPhone将迎来重大升级，因为2017年是iPhone的十周年生日，苹果公司肯定不会轻视这么重要的时刻。据说iPhone 8会有全玻璃的设计，有机LED显示屏，更高的像素，舍去了Home键，也有新的尺寸等。还有传言说苹果将为iPhone内置AR增强现实的功能，不过很可能在iPhone 8的下一代才出现。
                        <img src="<?php echo base_url('style/index')?>/img/595310dbc0c86.jpg"  alt="demo" /> 一、iPhone 8有很多报道说，下一代iPhone将迎来重大升级，因为2017年是iPhone的十周年生日，苹果公司肯定不会轻视这么重要的时刻。据说iPhone 8会有全玻璃的设计，有机LED显示屏，更高的像素，舍去了Home键，也有新的尺寸等。还有传言说苹果将为iPhone内置AR增强现实的功能，不过很可能在iPhone 8的下一代才出现。
                    </div>
                    <div class="praise">
                        <a class="col-md-1 col-sm-1 col-xs-4 disabled"></a>
                        <button class="btn col-md-2 col-sm-2 col-xs-4 col-md-offset-4 col-sm-offset-4">赞(4)</button>
                        <a class="col-md-1 col-sm-1 col-xs-4 disabled"></a>
                    </div>
                    <a href="#" id="report">举报!</a>
                    <div class="share">
                        <div class="share_top">
                            <p class="col-md-5 col-sm-5 col-xs-5 line"></p>
                            <p class="col-md-2 col-sm-2 col-xs-2 ">分享</p>
                            <p class="col-md-5 col-sm-5 col-xs-5 line"></p>
                        </div>
                        <ul class="shar_imgs">
                            <li><a href="#" class="share_icons">
                        			<img src="<?php echo base_url('style/index')?>/img/icon/friendround.png" alt="朋友圈">
                        			<h6>朋友圈</h6>
                        		</a></li>
                            <li><a href="#" class="share_icons">
                        			<img src="<?php echo base_url('style/index')?>/img/icon/weixin.png" alt="微信">
                        			<h6>微信好友</h6>
                        		</a></li>
                            <li><a href="#" class="share_icons">
                        			<img src="<?php echo base_url('style/index')?>/img/icon/weibo.png" alt="微博">
                        			<h6>微博</h6>
                        		</a></li>
                            <li><a href="#" class="share_icons">
                        			<img src="<?php echo base_url('style/index')?>/img/icon/QQ.png" alt="QQ">
                        			<h6>QQ好友</h6>
                        		</a></li>
                            <li><a href="#" class="share_icons">
                        			<img src="<?php echo base_url('style/index')?>/img/icon/QQspace.png" alt="QQ空间">
                        			<h6>QQ空间</h6>
                        		</a></li>
                        </ul>
                    </div>
                    <div class="media author col-md-12 col-sm-12 col-xs-12 " onclick="">
                        <div class="media-left col-md-2 col-sm-2 col-xs-3  ">
                            <a href="#"><img class="media-object img-circle" src="<?php echo base_url('style/index')?>/img/20130821113345_UkUAs.thumb.600_0.jpeg" alt="author_head"></a>
                        </div>
                        <div class="media-body media-middle col-md-5 col-sm-8 col-xs-6">
                            <h4 class="media-heading">作者:潇潇2号</h4>
                            <p>风萧萧兮易水寒</p>
                        </div>
                        <div class="media-right col-md-3 col-sm-2 col-xs-3 fl">
                            <button type="button" class="btn">关注</button>
                        </div>
                    </div>
                </div>
                <div class="content_comment col-md-12 col-sm-12 col-xs-12">
                    <div class="comment_head">
                        <h4 class="text-left"><span>|</span>&nbsp;最新评论
                        <a href="#" class="comment_open text-right">发表评论</a></h4>
                        <p></p>
                    </div>
                    <ul class="users media-list col-md-12 col-sm-12 col-xs-12">
                        <li class="media">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="<?php echo base_url('style/index')?>/img/head1.jpg" alt="头像"></a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">陌华_Janice<a class="ups">38</a></h5>
                                <p class="time">两小时前</p>
                                <p class="info">学英语的表示惶恐</p>
                            </div>
                            <hr/>
                        </li>
                        <li class="media">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="<?php echo base_url('style/index')?>/img/head2.jpg" alt="头像"></a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">白陆欣<a class="ups">12</a></h5>
                                <p class="time">两小时前</p>
                                <p class="info">会,不过不是现在</p>
                            </div>
                            <hr/>
                        </li>
                        <li class="media">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="<?php echo base_url('style/index')?>/img/head2.jpg" alt="头像"></a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">白陆欣<a class="ups">12</a></h5>
                                <p class="time">两小时前</p>
                                <p class="info">会,不过不是现在</p>
                            </div>
                            <hr/>
                        </li>
                        <li class="media">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="<?php echo base_url('style/index')?>/img/head2.jpg" alt="头像"></a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">白陆欣<a class="ups">12</a></h5>
                                <p class="time">两小时前</p>
                                <p class="info">会,不过不是现在</p>
                            </div>
                            <hr/>
                        </li>
                    </ul>
                    <a href="#" class="lookall">查看所有评论</a>
                    <div class="download">
                        <a type="button" class="btn btn-lg btn-block">下载
                            <span>人人记</span>客户端查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div> <!-- 点击空白地方输入框消失 -->
    <div class="all">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="container_fluid container">
                <div class="row">
                    <div class="float_fixed">
                        <a href="#" class="col-md-3 col-sm-3 col-xs-3 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 open_things">发布活动</a>
                        <div class="col-md-3 col-sm-3 col-xs-3 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                            <div class="row">
                                <span class="col-md-6 col-sm-6 col-xs-6 up_count">2</span>
                                <span class="col-md-6 col-sm-6 col-xs-6 comment">0</span>
                            </div>
                        </div>
                        <button class="col-md-4 col-sm-4 col-xs-4 apply btn fr" id="do">立即报名</button>
                    </div>
                    <div class="data_form" id="data_form" style="display: none;">
                        <div class="data_head">
                            <h4 class="form-head">我要报名<span class="fr blank" style="cursor: pointer;">x&nbsp;&nbsp;&nbsp;</span></h4></div>
                        <div class="input-group data_input col-md-10 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                            <input type="text" class="form-control" placeholder="姓名">
                            <input type="text" class="form-control" placeholder="手机">
                        </div>
                        <bottom class="submit btn btn-lg btn-block">确认</bottom>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    $('.look-content').children('img').addClass('img-responsive');
    $('#do').on('touchend click', function(){
        $('#data_form').slideDown(200, function(){
            $('.blank').on('touchend click', function(){
                 $('#data_form').slideUp(400);
            });
        });
    });
</script>