<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 ,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="<?php echo base_url('style/index') ?>/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="<?php echo base_url('style/index') ?>/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="<?php echo base_url('style/index') ?>/css/looknews.css">
    <script type="text/javascript" src="<?php echo base_url('style/index') ?>/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="<?php echo base_url('style/index') ?>/js/public.js" ></script>
    <script type="text/javascript" src="<?php echo base_url('style/index') ?>/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="<?php echo base_url('style/index') ?>/js/bootstrap.js"></script>
</head>
<body>
    <div class="all">
        <div class="container container_fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="色情低俗">
                        色情低俗
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="政治敏感">
                        政治敏感
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="违法犯罪">
                        违法犯罪
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios4" value="侵权盗用">
                        侵权盗用
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios5" value="其他">
                        其他
                      </label>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>